VITE_API_BASE_URL=http://localhost:5273
VITE_AGENT_ID=local
VITE_RIGMD_DOWNLOAD_URL=https://github.com/MichaelGrant-Libato/RigMD/releases/download/v0.1.0/RigMD-Setup.exe
VITE_SUPABASE_URL=https://rjictnjgmuvwzilipqcz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqaWN0bmpnbXV2d3ppbGlwcWN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNzE0OTQsImV4cCI6MjA5NDk0NzQ5NH0.iWzSVpKy9rrHWjE973nerUJcbkGifaqJmN6KZxahsQs
VITE_SUPABASE_DOWNLOAD_BUCKET=rigmd-installers
VITE_SUPABASE_INSTALLER_PATH=RigMD-Setup.exe
VITE_RIGMD_INSTALLER_FILE_NAME=RigMD-Setup.exe
